*{
  margin: 20px auto;
  padding: 0 auto;
  background-color: yellow;
}
/* 
khi có conflict, mình chỉ cần lấy về rồi chọn 1 trong 2
sau xóa cái còn lại và đưa lên lại thì sẽ hết xung đột
nên cần phải cẩn thận nhé, khi có xung đột mình cần phải giải quyết nó
 */
